<!DOCTYPE css>
body {
    background: #F8BBD0
}
#banner {

          width: 27%;
}

.principal {
  background: #c9da8c;
}
h1 {
    text-align: center;
    border: 5px solid #d8ff2b
    padding: 15px;
}

p {
      text-align: center;
}

#missao {
    font-size:18px;

}#BA68C8
em strong {
    color: ;
}
     
.itens {
    font-style: italic;
}

.beneficios {
    background: #e8f5ad;
}
  
