
body {
    background: #82a3b9
}
#banner {

          width: 27%;
}

.principal {
  background: #b47acf;
}
h1 {
    text-align: center;
    border: 5px solid #6edaf5
    padding: 15px;
}

p {
      text-align: center;
}

#missao {
    font-size:18px;

}#BA68C8
em strong {
    color: ;
}
     
.itens {
    font-style: italic;
}

.beneficios {
    background: #4c4b75;
}
  
